header {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #31485b;
  z-index: 999;
}

.colorbar {
  position: fixed;
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff url("../../images/colorbar.png") repeat-x left top;
}

.logo {
  line-height: 64px;
  display: inline-block;
}

.logo img {
  vertical-align: middle;
  line-height: 64px;
}

footer {
  background-color: #31485b;
  height: 100px;
  color: #fff;
}

.footer-list {
  margin: 0;
  li {
    margin-right: 25px;
    a {
      display: inline-block;
      line-height: 100px;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
}
